<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Capsuleprog</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!-- partial:index.partial.html -->
    <div class="wrapper">
        <div class="container">
            <h1>Welcome</h1>
            <form method="post" action="/">
                <input type="text" placeholder="Your Name" name="name">
                <input type="number" placeholder="Your Age" name="age">
                <button type="submit" id="login-button">Submit</button>
            </form>
        </div>
</body>

</html>
